node_modules/
dist/
.env
*.env.local
.env.*.local

# Prisma
prisma/migrations/
# descomente a linha abaixo se quiser versionar as migrations:
# !prisma/migrations/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
